{% extends 'base.html' %}

{% block content %}
<div class="container-fluid p-0">
    <!-- Опрос -->
    <section class="resume-section" id="experience">
        <div>

            <style>
                style123{
                color:red
                }
            </style>

            {% for message in messages %}
            <h5>{{message}}</h5>
            {% endfor %}

            <form action="" method="POST">
            {% csrf_token %}

            {% if question_for_user %}
                <h3>{{question_for_user.name}}</h3> <br>
                <input type="hidden" name='question_id' value="{{question_for_user.id}}" >
                {% for answer in answers_for_user %}
                <div>
                <input type="checkbox" name='answer_id' value="{{answer.id}}" id="id_for_a" >
                <label for="id_for_a"><h5> {{answer}} </h5> </label>
                </div><br>
                {% endfor %}

                    <button type="submit" >Ответить</button>
            </form>
            {% else %}
                Поздравляем! Вы завершили тестирование!
            {% endif %}


        </div>
    </section>
    <hr class="m-0" />
</div>
{% endblock %}